.list-container {
  margin: 0 5%;
  font-family: var(--mainFont);
}

.title {
  color: var(--textColorDark);
  text-transform: uppercase;
  font-family: var(--accentFont);
}

.filter-container {
  display: flex;
  justify-content: space-between;
}

@media (max-width:1000px) {
  .filter-container .left {
    display: flex;
    flex-direction: column;
  }
  .filter-container .left > button:first-of-type {
    margin-bottom: 1rem;
  }
  .filter-container .right {
    display: flex;
    align-items: flex-start;
  }
}

.filter-container .left > button {
  margin-right: 1rem;
}

.list {
  display: flex;
  flex-direction: column;

  margin: 1.5rem 0;
}