:root {
  /* Theme colors */
  --primaryLightColor: #e3fce3;
  --primaryMediumColor: #ccfbcc;
  --primaryColor: #8fff8f;
  --secondaryColor: #789678;
  --grayColor: #869686;
}

body {
  background-color: var(--primaryMediumColor);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}