@import url('https://fonts.googleapis.com/css2?family=Familjen+Grotesk:wght@400;500;700&display=swap');

:root {
  /* Theme colors */
  --primaryLightColor: #e3fce3;
  --primaryMediumColor: #ccfbcc;
  --primaryColor: #8fff8f;
  --secondaryColor: #789678;
  --grayColor: #869686;

  --textColorLight: #ffffff;
  --textColorDark: #191919;

  /* Fonts */
  --mainFont: 'Segoe UI', sans-serif;
  --accentFont: 'Familjen Grotesk', sans-serif;
}

html {
  scrollbar-width: thin;
  scrollbar-color: var(--primaryColor) transparent;
}

body {
  background-color: var(--primaryLightColor);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: var(--primaryColor) ;
}